<%- include("inc/admin_header", {pageTitle: "تغییر رمز", activeItem: "change-password"}); %>

<div class="content-wrapper">
  <section class="content-header">
    <h1>
      تغییر رمز
    </h1>
    <ol class="breadcrumb">
      <li><a href="/admin"><i class="fa fa-dashboard"></i>کنترل پنل ادمین</a></li>
      <li><a href="/admin/change-password"><i class="active"></i>تغییر رمز</a></li>
    </ol>
  </section>
  
  <section class="content">
      <div class="card">
          <div class="container">
              <form id="editForm" action="/admin/change-password" method="POST" onsubmit="return formValidation()">
                  <div class="form-group1">
                      <label for="oldpassword">رمز عبور فعلی</label>
                      <input class="form-field" type="password" name="oldpassword" id="oldpassword">
                  </div>

                  <div class="form-group1">
                    <label for="password">رمز عبور جدید</label>
                    <input class="form-field" type="password" name="password" id="password">
                </div>

                <div class="form-group1">
                    <label for="passwordr">تکرار رمز عبور جدید</label>
                    <input class="form-field" type="password" name="passwordr" id="passwordr">
                </div>
                  
                  <button type="submit" class="add-btn">تغییر رمز</button>
              </form>
            </div>
      </div>
  </section>
</div>

<script>
    function formValidation(){
        let pass = document.getElementById("password").value;
        let passr = document.getElementById("passwordr").value;

        if(pass !== passr){
            alert("رمز عبور و تکرار آن مغایرت دارند.");
            return false;
        }else{
            return true;
        }
    }
</script>

<%- include("inc/admin_footer"); %>